<template>
    <li class="comment__item">
        <div class="comment__body" v-show="edit.state === 'show'">
            <div class="time"> {{ comment.time }} </div>
            <div class="text">{{ comment.body }}</div>
            <div class="buttons">
                <div class="button text-muted text-sm" @click="reply.state = true">Reply</div>
                <div class="button float-right text-sm text-danger" @click="deleteComment">Delete</div>
                <div class="button float-right text-sm text-primary mr-3" @click="edit.state = 'edit'">Edit</div>
            </div>
        </div>
        <div class="comment__edit" v-show="edit.state === 'edit'">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="edit.errors.body">
                <div v-for="error in edit.errors.body">
                    {{ error }}
                </div>
            </div>
            <textarea v-model="edit.body" class="form-control" rows="2"></textarea>
            <div class="mt-2">
                <button type="button" class="btn btn-primary px-4 btn-sm" @click="editComment">Update</button>
                <button type="button" class="btn btn-secondary px-4 btn-sm" @click="resetEdit">Cancel</button>
            </div>
        </div>
        <div class="comment__reply" v-show="reply.state">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="reply.errors.body">
                <div v-for="error in reply.errors.body">
                    {{ error }}
                </div>
            </div>
            <textarea v-model="reply.body" class="form-control" rows="2"></textarea>
            <div class="mt-2">
                <button type="button" class="btn btn-primary px-4 btn-sm" @click="replyComment">Save</button>
                <button type="button" class="btn btn-secondary px-4 btn-sm" @click="resetReply">Cancel</button>
            </div>
        </div>
        <ul class="comment__items">
            <comment v-for="(comment, index) in comment.replies"
                :key="comment.id"
                :index = "index"
                :root = "false"
                :comment="comment">
            </comment>
        </ul>
    </li>
</template>

<script>
    export default {
        name: 'comment',
        props: {
            comment: Object,
            root: Boolean,
            index: Number
        },
        data: function() {
            return {
                edit: {
                    state: 'show',
                    body: this.comment.body,
                    errors: []
                },
                reply: {
                    state: false,
                    body: '',
                    errors: []
                }
            }
        },
        computed: {
            parentComment: function () {
                if (this.root) {
                    return this.$parent.comments;
                } else {
                    return this.$parent.comment.replies;
                }
            }
        },
        methods: {
            resetEdit() {
                this.edit.state = 'show';
                this.edit.body = this.comment.body;
                this.edit.errors = [];
            },
            resetReply() {
                this.reply.state = false;
                this.reply.body = '';
                this.reply.errors = [];
            },
            replyComment() {
                this.reply.errors = [];
                axios
                    .post('api/comments', {
                        'parent_id': this.comment.id,
                        'body': this.reply.body
                    })
                    .then(response => {
                        this.parentComment[this.index].replies.unshift(response.data);
                        this.resetReply();
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.reply.errors = error.response.data.errors;
                        }
                    });
            },
            editComment() {
                this.edit.errors = [];
                axios
                    .put(`api/comments/${this.comment.id}`, {
                        'body': this.edit.body
                    })
                    .then(response => {
                        this.parentComment[this.index].body = response.data.body;
                        this.resetEdit();
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.edit.errors = error.response.data.errors;
                        }
                    });
            },
            deleteComment() {
                axios
                    .delete(`api/comments/${this.comment.id}`)
                    .then(response => {
                        this.parentComment.splice(this.index, 1);
                    })
                    .catch(error => console.log(error));
            }
        }
    }
</script>
