<template>
    <div class="container comment">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card card-default">
                    <div class="card-header">Comments</div>
                    <div class="card-body">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="errors.body">
                            <div v-for="error in errors.body">
                                {{ error }}
                            </div>
                        </div>
                        <textarea v-model="body" class="form-control" rows="3"></textarea>
                        <div class="mt-2">
                            <button type="button" class="btn btn-primary px-5" @click="saveComment">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-4">
            <div class="col-md-10">
                <div class="card card-default">
                    <div class="card-body">
                        <ul class="comment__items">
                            <comment v-for="(comment, index) in comments"
                                :key="comment.id"
                                :index = "index"
                                :comment="comment"
                                :root="true">
                            </comment>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import comment from './CommentComponent'
    export default {
        components: {
            comment
        },
        data: function() {
            return {
                body: '',
                comments: [],
                errors: []
            }
        },
        created() {
            this.getAllComments();
        },
        methods: {
            getAllComments() {
                axios
                    .get('api/comments')
                    .then(response => (this.comments = response.data))
                    .catch(error => console.log(error));

            },
            saveComment() {
                this.errors = [];
                axios
                    .post('api/comments', { body: this.body })
                    .then(response => {
                        this.comments.unshift(response.data);
                        this.body = '';
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors;
                        }
                    });
            }
        }
    }
</script>

<style lang="scss">
.comment {
    & textarea {
        resize: none;
    }
    & .alert {
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.8rem;
    }
    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__items &__items {
        margin-left: 1.6rem;
    }
    &__item {
        & .text {
            padding-top: .3rem;
            padding-bottom: .2rem;
        }
        & .time {
            font-size: 0.8rem;
            color: #9a9a9a;
            padding-top: .5rem;
        }
    }
    &__body {
        & .button {
            display: inline-block;
            padding-bottom: .5rem;
            font-size: 0.8rem;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    &__edit {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}
</style>
